.App {
  text-align: center;
  background-color: #ffffff;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  /* 10% of the vertical height of the screen */
  display: flex;
  /* needed to make next line center vertically */
  align-items: center;
  /* center in middle vertically */
  justify-content: left;
  padding-left: 5%;
  /* center in middle horizontally */
  color: white;
  font-size: calc(10px + 2vmin);
}


.float-container {
  padding: 20px;
  height: 85vh;
  background-color: #6B9AC4;

}



.map-container {
  width: 75%;
  float: left;
  height: 80vh;

  border-radius: 8px;
  background: #e0e0e0a3;
  box-shadow: 6px 6px 10px #b3b3b3b0,
    -6px -6px 10px #ffffff;
}



.filters-container {
  width: 25%;
  float: left;
  height: 80vh;

  padding-left: 2%;

  /*background-color: rgba(180, 180, 180, 0.486);*/
  border-radius: 8px;
  border-bottom-right-radius: 8px;
}

.filters-title {
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;

  background-color: #0060fb;
}

.filters-body {
  background-color: rgb(214, 222, 223);
  width: 100%;
  height: 75vh;
}



.charts-container {
  background-color: #ffffff;
  position: absolute;
  top: 100vh;

  height: 100%;
  width: 100%;

  border: dotted;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.059);
}



/*Custom scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BAC1C2;
  border-radius: 10px;
}