.App {
  text-align: center;
  background-color: #ffffff;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}


.App-header h1 {
  font-size: 42px;
  color: #ffffff;
  line-height: 230px;
  text-transform: uppercase;
  font-weight: 100;


}

.App-header a {
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  line-height: 1;
  text-decoration: none;
  font-weight: 100;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.3s;

}

.App header a:hover {
  color: rgb(157, 157, 157);

}

.App-header {
  width: 100%;
  height: 15vh;
  padding-top: 0vh;
  background-color: #040505;
  text-align: center;
  position: relative;
  top: 0;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.3s;


}

.App-header nav {
  position: absolute;
  bottom: 0;
  padding-left: 50ch;
  padding-top: 0vh;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, .1);

}


.App-footer-team {

  text-align: right;
  padding-right: 2.5ch;
  height: 5vh;
  top: 30vh;
  background-color: #000000;
  color: #ffffff;

}

.App-header {
  background-color: #000000;
  text-shadow: #ffffff 0px 0 10px;
  height: 6vh;
  /* 10% of the vertical height of the screen */
  display: flex;
  /* needed to make next line center vertically */
  align-items: center;
  /* center in middle vertically */
  justify-content: left;
  padding-left: 5%;
  /* center in middle horizontally */
  color: white;
  font-size: calc(10px + 2vmin);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.3s;

}


.float-container {
  padding: 20px;
  height: 85vh;
  background-color: #242424;
  background-image: url("https://images2.alphacoders.com/647/647161.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.map-container {
  width: 75%;
  float: left;
  height: 80vh;

  border-radius: 8px;
  background: #e0e0e0a3;
  box-shadow: 6px 6px 10px #b3b3b3b0,
    -6px -6px 10px #ffffff;
}



.filters-container {

  top: 10vh;
  width: 25%;
  float: left;
  height: 80vh;
  overflow-y: auto;
  padding-left: 2%;
  /*background-color: rgba(180, 180, 180, 0.486);*/
  border-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: 100;
}

.filters-title {
  color: #d2d2d2;
  font-size: calc(10px + 2vmin);
  font-family: "Signika Negative", sans-serif;
  font-weight: 100;
  background-color: black;
  font-weight: 100;

}

h3 {
  background-color: #000;
  border: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  padding: 6px 160px;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.filters-body {
  background-color: rgb(32, 32, 32);
  color: #d2d2d2;
  width: 100%;
  height: 150vh;
  font-size: 20px;
  text-align: center;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  transition: 1s box-shadow;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;

}


.filters-body:hover {
  background-color: rgb(38, 36, 47);

  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.3s;



}


.charts-container {

  background-color: #ffffff;
  position: absolute;
  top: 100vh;

  height: 100%;
  width: 100%;

  border: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgba(46, 25, 56, 0.059);

  /*specifies the number and size of grid columns and rows*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.chart {
  grid-column: span 2;
  grid-row: span 2;
}


/*Custom scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BAC1C2;
  border-radius: 10px;
}



@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}